<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868852610341-keeb10ds43ocpp413dnvu00a1eemd6og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868852610341-keeb10ds43ocpp413dnvu00a1eemd6og</string>
	<key>API_KEY</key>
	<string>AIzaSyAf9u5Sp7thlxHa9rgV2mU7TT6frI4rA04</string>
	<key>GCM_SENDER_ID</key>
	<string>868852610341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geoAttendanceSystemHr</string>
	<key>PROJECT_ID</key>
	<string>geo-hr</string>
	<key>STORAGE_BUCKET</key>
	<string>geo-hr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868852610341:ios:ea010bd96b5a393a2f96cc</string>
	<key>DATABASE_URL</key>
	<string>https://geo-hr-default-rtdb.firebaseio.com</string>
</dict>
</plist>